body,
html {
    height: 100%;
    width: 100% margin: 0px;
}

.glyphicon {
    color: green;
}

.intro {
    color: #222070;
    background: url(../img/leader-slide.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%
}

.brand-heading, .section-heading {
    font-family: 'Dancing Script', cursive;
    text-transform: lowercase;
}


/* Mobile first queries */


/* Larger than mobile */

@media (min-width: 400px) and (max-width: 450px) {
    .brand-heading {
        font-size: 40px;
        margin-top: 75px;
        text-align: center;
    }
    .intro {
    	background-position: -500px;
    }
}


/* Larger than phablet */

@media (min-width: 451px) and (max-width: 749px) {
    .brand-heading {
        font-size: 75px;
        margin-top: 90px;
        margin-bottom: 100px;
    }

    .intro{
    	background-position: -275px;
    }

}




/* Larger than tablet */

@media (min-width: 750px) and (max-width: 999px) {
    .brand-heading {
        font-size: 40px;
        margin-top: 300px;
        margin-bottom: 100px;
    }
    .section-heading{
    	font-size: 40px;
        margin-top: 40px;
        margin-bottom: 50px;
    }
}


/* Larger than desktop */

@media (min-width: 1000px) and (max-width: 1199px) {
    .brand-heading {
        font-size: 60px;
        margin-top: 300px;
        margin-bottom: 100px;
        margin-left: -25px;
    }
}


/* Larger than Desktop HD */

@media (min-width: 1200px) {
    .brand-heading {
        font-size: 65px;
        margin-top: 300px;
        margin-bottom: 100px;
    }
}
